.jumbotron {
	background-image: url(../images/friend2.jpg);
	background-size: cover;
	background-position: center;
	color: #ddf3fa;	
	font-family: "Comic Sans MS", cursive, sans-serif;

}

.title {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-weight: bolder;
	color: #D2691E;
	margin-bottom: 0;
}

.intro {
	font-family: "Comic Sans MS", cursive, sans-serif;

}

body {
	background-color: #00BFFF;
}

a {
	color: #000000;
}

.answer ,#name, #photo{
	background-color: #AAE2F4;

}

.img {
	max-width: 250px;
	max-height: 250px;
}